.About{
  display: flex;
  margin: 2px;
  min-height: 90vh;
  max-height: 200vh;
  position: relative;
  width: 100%;
  background: url(image/about-sky-bg.jpeg);
  background-size: cover;
}
.about-1,.about-3{
width: 25%;
padding: 10px 20px;
display: flex;
justify-content: center;
flex-direction: column;
}
.about-2{
width: 50%;
height: 100%;
padding: 10px 20px;
display: flex;
justify-content: center;
align-items: center;
}
.about-21{
width: 110%;
height: 100%;
border-radius: 56px;
background: #5486e270;
box-shadow:  30px 30px 60px #071228,
           -30px -30px 60px #1b4aa0;

display: flex;
align-items: center;
justify-content: center;
}

/* neomorphishim */
.neo{
position: relative;
margin: 10px;
width: 150px;
aspect-ratio: 1;
border-radius: 50%;
background: transparent;
box-shadow: inset 9px 9px 14px #131d33,
          inset -9px -9px 14px #294171;
}

.float-right{
margin-left: 50%;
}

.container{
text-align: justify;
margin: 16px 2px;
color: whitesmoke;
font-weight: 700;
font-size: 18px;
}
#original-text{
line-height: normal;
}
#original-text>a,.translated-text>a{
text-decoration: none;
color: black;
}
.translated-text{
display: none;
}
.translation-btn{
cursor: pointer;
color: black;
}
/* -----------seed css-------------------- */

.equal{
  display: flex;
  flex-direction: column;
}
/* seed distribution */
.paper {
  color: white;
  font-size: 1em;
  width: 60%;
  padding: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  background: #58a;
}

/* 60-degree folded corner */
.sharp-fold {
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em;
}

.sharp-fold::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* -------------education------------ */
.education{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1em;
  width: 70%;
  padding: 2em;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
  background: rgb(196, 131, 240);
}
.edu-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(196,131, 240) 0);
  border-radius: .5em;
}
.edu-fold::before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient( to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom-right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
.edu-img{
  width: 30vh;
  height: 50%;
  border-radius: 20%;
}

/* -----------farmer--------- */
.farmer{
  color: white;
  font-size: 1em;
  width: 60%;
  padding: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  background: #58a; 
}
.farmer-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em; 
}
.farmer-fold::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}

/* -----------animal------------ */
.animal{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1em;
  width: 70%;
  padding: 2em;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
  background: rgb(131, 164, 240);
}
.ani-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}
.ani-fold::before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient( to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom-right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* ---------------vikash ---------------*/
.vikash{
  color: white;
  font-size: 1em;
  width: 60%;
  padding: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  background: #58a; 
}
.vikash-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em; 
}
.vikash-fold::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* --------------agriculture----------- */
.agriculture{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1em;
  width: 70%;
  padding: 2em;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
  background: rgb(131, 164, 240);
}
.agri-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}
.agri-fold::before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient( to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom-right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* -----------tree------------ */
.tree{
  color: white;
  font-size: 1em;
  width: 60%;
  padding: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  background: #58a; 
}
.tree-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em; 
}
.tree-fold::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* ------------brain tech------------- */
.tech{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1em;
  width: 70%;
  padding: 2em;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
  background: rgb(131, 164, 240);
}
.tech-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}
.tech-fold::before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient( to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom-right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}

.original-text{
  text-align: justify !important;
}
.original-text>a{
  text-decoration: none;
  color: black;
}