.About{
  display: flex;
  margin: 2px;
  min-height: 90vh;
  max-height: 200vh;
  position: relative;
  width: 100%;
  background: url(image/about-sky-bg.jpeg);
  background-size: cover;
}
#About img{
  width: 100% !important;
  /* animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain; */
}
/* @keyframes fade-in {
  from{scale: .8;opacity: 0;}
  to{scale: 1; opacity: 1;}
} */
.about-1,.about-3{
width: 25%;
padding: 10px 20px;
display: flex;
flex-direction: column;
}
.about-2{
width: 50%;
height: 100%;
padding: 10px 20px;
display: flex;
justify-content: center;
align-items: center;
}
.about-21{
width: 110%;
height: 100%;
border-radius: 56px;
background: #5486e270;
box-shadow:  30px 30px 60px #071228,
           -30px -30px 60px #1b4aa0;

display: flex;
align-items: center;
justify-content: center;
}

/* neomorphishim */
.neo{
position: relative;
margin: 100px 0px;
width: 150px;
height: 33%;
border-radius: 50%;
background: transparent;
box-shadow: inset 9px 9px 14px #131d33,
          inset -9px -9px 14px #294171;
}

.float-right{
margin-left: 50%;
}

.container{
text-align: justify;
margin: 16px 2px;
color: whitesmoke;
font-weight: 700;
font-size: 18px;
}
#original-text{
line-height: normal;
}
#original-text>a,.translated-text>a{
text-decoration: none;
color: black;
}
.translated-text{
display: none;
}
.translation-btn{
cursor: pointer;
color: black;
}
/* -----------seed css-------------------- */

.equal{
  display: flex;
  flex-direction: column;
}
.paper,.education,.farmer,.animal,.vikash,.agriculture,.tree,.tech {
  color: white;
  font-size: 1em;
  width: 60%;
  padding: 2em;
  margin-bottom: 2em;
}

/* seed distribution */
.paper,.farmer,.vikash,.tree{
  margin-left: 2em;
  background: #58a;
}
.education,.animal,.agriculture,.tech{
  margin-right: 2em;
}
/* 60-degree folded corner */
.sharp-fold,.farmer-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em;
}

.sharp-fold::before ,.edu-fold::before,.farmer-fold::before,.ani-fold::before,.vikash-fold::before,.agri-fold::before,.tree-fold::before,.tech-fold::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
/* -------------education------------ */
.education{
  float: right;
  background: rgb(196, 131, 240);
}
.edu-fold{
  background: linear-gradient(-150deg, transparent 1.5em, rgb(196,131, 240) 0);
  border-radius: .5em;
}
.edu-img{
  width: 30vh;
  height: 50%;
  border-radius: 20%;
}



/* -----------animal------------ */
.animal{
  float: right;
}
.ani-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}

/* ---------------vikash ---------------*/

.vikash-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em; 
}
/* --------------agriculture----------- */
.agriculture{
  float: right;
}
.agri-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}
/* -----------tree------------ */

.tree-fold{
  position: relative;
  background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
  border-radius: .5em; 
}

/* ------------brain tech------------- */
.tech{
  float: right;
}
.tech-fold{
  position: left;
  background: linear-gradient(-150deg, transparent 1.5em, rgb(131,164, 240) 0);
  border-radius: .5em;
}

.original-text{
  text-align: justify !important;
}
.original-text>a{
  text-decoration: none;
  color: black;
}

/* about img  */

.card-container-img {
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.card-container-img::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card-img .img-content-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card-img .img-content-img svg {
  width: 50px;
  height: 50px;
  fill: #212121;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-img .content-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px 24px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-img .content-img .heading-img {
  font-size: 24px;
  font-weight: 700;
  color: #ccd2dd;
}

.card-img:hover .content-img {
  opacity: 1;
  transform: translateY(0);
}

.card-img:hover .img-content-img{
  scale: 2.5;
  rotate: 30deg;
  filter: blur(30px);
}


.card-img:hover .img-content-img svg {
  fill: transparent;
}
.content-img button{
  margin-top: 30px;
}

/* about img button  */
.button-about-img {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5ecec;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon-about-img {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button-about-img:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button-about-img:hover .icon-about-img {
  transform: translate(4px);
}

.button-about-img:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button-about-img::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
