
@media screen and (max-width: 600px){
    .nav-item{
        justify-content: left !important;
    }
    .nav-contact{
        padding:.5rem 0 !important;
    }
    .myprofile{
        display: none;
    }
    .blockdisplay{
        display: block;
    }
    .parent{
        flex-direction: column;
        height: 80vh;
    }
    .child-1{
        flex: 45% !important;
    }
    .child-2{
        flex: 55% !important;
    }
    .child-2{
        border-radius: 50% 0% 0% 50% !important;
        border-style: hidden hidden hidden double !important;
        border: 5px #000 !important;
        background-color: whitesmoke;
    }
    .child-21{
        width: 100%;
        height: 99%;
        margin: 3px 0 0 2px;
        border-radius: 50% 0% 0% 50%;
        border-style: hidden hidden hidden double;
    }
    .child-content span{
        font-size: 1.4rem;
    }
    .glow{
        font-size: 24px;
    }
    .jaf{
        font-size: 24px !important;
    }
    .About{
        flex-direction: column !important;
    }
    .about-1,.about-3{
        flex-direction: row !important;
        height: 40px !important;
    }
    .about-2{
        width: 100% !important;
    }
    .none{
        display: none !important;
    }
    .container{
        margin: 24px 2px !important;
    }
    #original-text,.translated-text{
        font-size: 16px !important;
    }
    .none{
        display: none !important;
    }
    .paper,.education,.farmer,.animal,.vikash,.agriculture,.tree,.tech{
        width: 85% !important;
    }
    /* #About img{
        width: 285px !important;
    } */
    .icon-about-img{
        display: none !important;
    }
    .button-about-img::before{
        width: 60px !important;
        left: 0px !important;
    }
    .equal .card-img:hover{
        height: 300px;
        /* padding: 5px 10px; */
        
      }

    /* PRODUCT */
    .pr-home{
        height: 200px !important;
    }
    .pr-home img{
        height: 150px !important;
        width: 250px;
    }
    .pr-item-c{
        width: 45% !important;
    }
    .pr-item-c,.pr-item-c img{
        min-height: 200px !important;
        height: 200px !important;
    }
    .pr-item-c .card-img:hover{
        height: 200px;
    }
    .button-about-img{
        padding-inline: 10px !important;
    }
    .content-img{
        line-height: .8 !important;
    }
}
@media  screen and (min-width:601px) and (max-width:1080px) {
    
    .nav-item{
        justify-content: left !important;
    }
    .navbar-brand{
        color: white !important;
        font-size: 4rem;
        font-weight: 900;
        text-shadow: 1px 1px white;
    }
    .dsf,.jaf{
        font-size: 3rem !important;
        font-weight: 900;
        text-shadow: 1px 1px white;
    }
    .navbar-brand img{
        width: 120px !important;
        height: 120px !important;
        /* aspect-ratio: 1 !important; */
    }
    .navbar-toggler-icon{
        font-size: 3rem !important;
    }
    .nav-contact{
        padding: 0 !important;
    }
    .parent{
        flex-direction: column;
        height: 90vh;
    }
    .child-1{
        flex: 40% !important;
    }
    .child-2{
        flex: 60% !important;
    }
    .child-2{
        border-radius: 50% 0% 0% 50% !important;
        border-style: hidden hidden hidden double !important;
        border: 5px #000 !important;
        background-color: whitesmoke;
    }
    .child-21{
        width: 100%;
        height: 99%;
        margin: 3px 0 0 2px;
        border-radius: 50% 0% 0% 50%;
        border-style: hidden hidden hidden double;
    }
    .glow{
        font-size: 34px;
    }
    .jaf-1{
        font-size: 50px !important;
    }
    .navbar-brand>span{
        font-size: 34px !important;
    }
    .float-right{
        margin-left: 0% !important;
    }
    .about-2{
        width: 100% !important;
    }
    .about-1,.about-3{
        display: none !important;
    }
    .paper,.education,.farmer,.animal,.vikash,.agriculture,.tree,.tech{
        width: 85% !important;
    }
    .card-img:hover{
        height: 300px;
      }
}
