.navbar{
    background-color: rgb(92, 92, 228);
    margin-bottom: 1px;
    position: fixed;
    width: 100%;
    z-index: 1032;
}
.nav-link{
    font-weight: 700;
}
.navbar-brand{
    color: white !important;
}
.nav-contact{
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    padding: .5rem .5rem;

}