.navbar{
    background-color: rgb(92, 92, 228);
    margin-bottom: 1px;
    position: fixed;
    width: 100%;
    z-index: 1032;
}
.nav-link{
    font-weight: 700;
}
.navbar-brand{
    color: white !important;
}
.navbar-brand img{
    width: 50px !important;
    height: 50px !important;
    /* aspect-ratio: 1 !important; */
}
.nav-contact{
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    padding: .5rem .5rem;

}
.nav-item{
    display: flex; justify-content: center
}
a{
    color: white !important;
    text-decoration: none;
}
a:hover{
    color: black !important;
    text-decoration: none;
}
.dropdown-menu{
    background-color: rgb(92, 92, 228);;
}
.myprofile{
    display: inline;
    float: right;
}
.blockdisplay{
    display: none;
}