/* Style for the form popup */
#product-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80vh;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    overflow-y: auto;
  }
  h2,label{
    color: black;
  }


  .error-message {
      color: rgb(245, 2, 2);
      font-weight: 700;
      background-color: #f1f1f1;
      text-align: center;
      width: fit-content;
      margin-top: 5px;
      padding: 10px 20px;
      border-radius: 30px;
      display: none;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    #product-form {
      width: 90% !important;
    }
  }